@model Plantilla
<h1>Apellido: @Model.Apellido</h1>
<h2>Funcion: @Model.Funcion</h2>
<h2>Salario: @Model.Salario</h2>
<h2>ID: @Model.IdPlantilla</h2>
<h2>Codigo Hosp: @Model.HospCod</h2>
<h2>Codigo Sala: @Model.SalaCod</h2>

<a asp-controller="Plantilla"
asp-action="Index">
Volver al listado
</a>